<mat-toolbar color="primary">

  <span>
    <mat-icon> eco </mat-icon> Amour dit zerrouk
  </span>
  <div class="spacer"></div>

  <a mat-button (click)="onSelectedProducts()">Home</a>
  <a mat-button (click)="onProductsPromo()">Promotion</a>
  <a mat-button (click)="onProductsDispo()">Disponibles</a>
  <a mat-button routerLink="caddy">Caddy</a>

  <a mat-button routerLink="/caddy">
    <span class="badge">{{caddyService.currentCaddyName}} :
      {{caddyService.getSize()}}</span>
    <mat-icon>add_shopping_cart</mat-icon>
  </a>

  <div *ngIf="!this.authService.isAuthenticated()">
    <a mat-raised-button color="accent" (click)="onLogin()">
      Login <mat-icon>lock</mat-icon>
    </a>
  </div>
  <div *ngIf="this.authService.isAuthenticated()">
    <a (click)="onLogout()" color="accent">
      Sign out <mat-icon>lock_open</mat-icon>
    </a>
  </div>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>

    <!-- <mat-list *ngIf="categories">
      <mat-list-item [ngClass]="currentCategorie==c?'active':''" (click)="getProductsByCat(c)"
        *ngFor="let c of categories._embedded.categories">{{c.name}}</mat-list-item>
    </mat-list> -->
    <ul class="list-group" *ngIf="categories">
      <li [ngClass]="currentCategorie==c?'active':''" (click)="getProductsByCat(c)" class="list-group-item clickable"
        *ngFor="let c of categories._embedded.categories">
        {{c.name}}
      </li>
    </ul>

  </mat-drawer>
  <mat-drawer-content>

    <router-outlet>
    </router-outlet>

  </mat-drawer-content>
</mat-drawer-container>


<!-- <div class="row">
  <div class="col-md-3">
    <ul class="list-group" *ngIf="categories">
      <li [ngClass]="currentCategorie==c?'active':''" (click)="getProductsByCat(c)" class="list-group-item clickable"
        *ngFor="let c of categories._embedded.categories">
        {{c.name}}
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <router-outlet>

    </router-outlet>
  </div>
</div> -->